<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Naive Bayes Classification - Dashboard</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <link rel="apple-touch-icon" th:href="@{/pages/ico/60.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/pages/ico/76.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/pages/ico/120.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/pages/ico/152.png}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link th:href="@{/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/boostrapv3/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link th:href="@{/assets/plugins/bootstrap-select2/select2.css}" rel="stylesheet"
          type="text/css"
          media="screen"/>
    <link th:href="@{/assets/plugins/switchery/css/switchery.min.css}" rel="stylesheet"
          type="text/css"
          media="screen"/>
    <link th:href="@{/assets/plugins/nvd3/nv.d3.min.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{/assets/plugins/mapplic/css/mapplic.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/rickshaw/rickshaw.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/datepicker3.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link th:href="@{/assets/plugins/jquery-metrojs/MetroJs.css}" rel="stylesheet" type="text/css"
          media="screen"/>

    <link th:href="@{/pages/css/pages-iconsz.css}" rel="stylesheet" type="text/css"/>
    <link class="main-stylesheet" th:href="@{/pages/css/pagesz.css}" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/css/dashboardz.css}" rel="stylesheet" type="text/css"/>

    <!--[if lte IE 9]-->
    <!--<link th:href="@{assets/plugins/codrops-dialogFx/dialog.ie.css}" rel="stylesheet" type="text/css"-->
    <!--media="screen"/>-->
    <!--<![endif]&ndash;&gt;-->

    <script th:src="@{/assets/plugins/jquery/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/dashboardjs.js}" type="text/javascript"></script>

</head>
<body class="fixed-header dashboard">
<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40"><img th:src="@{/assets/img/demo/social_app.svg}"
                                                alt="socail"/>
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10"><img th:src="@{/assets/img/demo/email_app.svg}"
                                                alt="socail"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40"><img th:src="@{/assets/img/demo/calendar_app.svg}"
                                                alt="socail"/>
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><img th:src="@{/assets/img/demo/add_more.svg}"
                                                alt="socail"/>
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items ul-style">
            <li class="m-t-30 ">
                <a th:href="@{/admin/home}" class="detailed">
                    <span class="title">Dashboard</span>
                    <span class="details">NB Model Info</span>
                </a>
                <span th:class="${#strings.contains(view,'dashboard')} ? 'bg-success icon-thumbnail' : 'icon-thumbnail'"><i
                        class="glyphicon glyphicon-dashboard"></i></span>
            </li>
            <li class="">
                <a th:href="@{/admin/renew-model}" class="detailed">
                    <span class="title">Renew Model</span>
                    <span class="details">Upload New Model</span>
                </a>
                <span th:class="${#strings.contains(view,'renew-model')} ? 'bg-success icon-thumbnail' : 'icon-thumbnail'"><i
                        class="glyphicon glyphicon-cloud-upload"></i></span>
            </li>
            <li class="">
                <a th:href="@{/admin/train}" class="detailed">
                    <span class="title">Training</span>
                    <span class="details">Train NB - Classifier</span>
                </a>
                <span th:class="${#strings.contains(view,'train')} ? 'bg-success icon-thumbnail' : 'icon-thumbnail'"><i
                        class="glyphicon glyphicon-list-alt"></i></span>
            </li>
            <li class="">
                <!--@{/admin/classify}-->
                <a th:href="'#'" class="detailed">
                    <span class="title">Classifying</span>
                    <span class="details">Classify Data</span>
                </a>
                <span th:class="${#strings.contains(view,'classify')} ? 'bg-success icon-thumbnail' : 'icon-thumbnail'"><i
                        class="glyphicon glyphicon-send"></i></span>
            </li>
            <li class="">
                <!--@{/admin/error-rate}-->
                <a th:href="@{/admin/error-rate}" class="detailed">
                    <span class="title">Error Rate</span>
                    <span class="details">Error Rate From Training</span>
                </a>
                <span th:class="${#strings.contains(view,'error-rate')} ? 'bg-success icon-thumbnail' : 'icon-thumbnail'"><i
                        class="glyphicon glyphicon-warning-sign"></i></span>
            </li>
            <!--<li class="">-->
            <!--<a href="email.html" class="detailed">-->
            <!--<span class="title">Email</span>-->
            <!--<span class="details">234 New Emails</span>-->
            <!--</a>-->
            <!--<span class="icon-thumbnail"><i class="pg-mail"></i></span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="social.html"><span class="title">Social</span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-social"></i></span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Calendar</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-calender"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="calendar.html">Basic</a>-->
            <!--<span class="icon-thumbnail">c</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="calendar_lang.html">Languages</a>-->
            <!--<span class="icon-thumbnail">L</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="calendar_month.html">Month</a>-->
            <!--<span class="icon-thumbnail">M</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="calendar_lazy.html">Lazy load</a>-->
            <!--<span class="icon-thumbnail">La</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="http://pages.revox.io/dashboard/2.1.0/doc/#calendar"-->
            <!--target="_blank">Documentation</a>-->
            <!--<span class="icon-thumbnail">D</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="builder.html">-->
            <!--<span class="title">Builder</span>-->
            <!--</a>-->
            <!--<span class="icon-thumbnail"><i class="pg-layouts"></i></span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Layouts</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-layouts2"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="default_layout.html">Default</a>-->
            <!--<span class="icon-thumbnail">dl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="secondary_layout.html">Secondary</a>-->
            <!--<span class="icon-thumbnail">sl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="boxed_layout.html">Boxed</a>-->
            <!--<span class="icon-thumbnail">bl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="sidemenu_and_horizontal_menu.html">Horizontal Menu</a>-->
            <!--<span class="icon-thumbnail">hm</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="rtl_layout.html">RTL</a>-->
            <!--<span class="icon-thumbnail">rl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="builder.html#tabContent">Columns</a>-->
            <!--<span class="icon-thumbnail">cl</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">UI Elements</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail">Ui</span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="color.html">Color</a>-->
            <!--<span class="icon-thumbnail">c</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="typography.html">Typography</a>-->
            <!--<span class="icon-thumbnail">t</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="icons.html">Icons</a>-->
            <!--<span class="icon-thumbnail">i</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="buttons.html">Buttons</a>-->
            <!--<span class="icon-thumbnail">b</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="notifications.html">Notifications</a>-->
            <!--<span class="icon-thumbnail">n</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="modals.html">Modals</a>-->
            <!--<span class="icon-thumbnail">m</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="progress.html">Progress &amp; Activity</a>-->
            <!--<span class="icon-thumbnail">pa</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="tabs_accordian.html">Tabs &amp; Accordions</a>-->
            <!--<span class="icon-thumbnail">ta</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="sliders.html">Sliders</a>-->
            <!--<span class="icon-thumbnail">s</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="tree_view.html">Tree View</a>-->
            <!--<span class="icon-thumbnail">tv</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="nestables.html">Nestable</a>-->
            <!--<span class="icon-thumbnail">ns</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;">-->
            <!--<span class="title">Forms</span>-->
            <!--<span class=" arrow"></span>-->
            <!--</a>-->
            <!--<span class="icon-thumbnail"><i class="pg-form"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="form_elements.html">Form Elements</a>-->
            <!--<span class="icon-thumbnail">fe</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="form_layouts.html">Form Layouts</a>-->
            <!--<span class="icon-thumbnail">fl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="form_wizard.html">Form Wizard</a>-->
            <!--<span class="icon-thumbnail">fw</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="portlets.html">-->
            <!--<span class="title">Portlets</span>-->
            <!--</a>-->
            <!--<span class="icon-thumbnail"><i class="pg-grid"></i></span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="views.html">-->
            <!--<span class="title">Views</span>-->
            <!--</a>-->
            <!--<span class="icon-thumbnail"><i class="pg pg-ui"></i></span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Tables</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-tables"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="tables.html">Basic Tables</a>-->
            <!--<span class="icon-thumbnail">bt</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="datatables.html">Data Tables</a>-->
            <!--<span class="icon-thumbnail">dt</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Maps</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-map"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="google_map.html">Google Maps</a>-->
            <!--<span class="icon-thumbnail">gm</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="vector_map.html">Vector Maps</a>-->
            <!--<span class="icon-thumbnail">vm</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="charts.html"><span class="title">Charts</span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-charts"></i></span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Extra</span>-->
            <!--<span class=" arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-bag"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li class="">-->
            <!--<a href="invoice.html">Invoice</a>-->
            <!--<span class="icon-thumbnail">in</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="404.html">404 Page</a>-->
            <!--<span class="icon-thumbnail">pg</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="500.html">500 Page</a>-->
            <!--<span class="icon-thumbnail">pg</span>-->
            <!--</li>-->
            <!--<li class="active">-->
            <!--<a href="blank_template.html">Blank Page</a>-->
            <!--<span class="icon-thumbnail">bp</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="login.html">Login</a>-->
            <!--<span class="icon-thumbnail">l</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="register.html">Register</a>-->
            <!--<span class="icon-thumbnail">re</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="lock_screen.html">Lockscreen</a>-->
            <!--<span class="icon-thumbnail">ls</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="gallery.html">Gallery</a>-->
            <!--<span class="icon-thumbnail">gl</span>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="timeline.html">Timeline</a>-->
            <!--<span class="icon-thumbnail">t</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="">-->
            <!--<a href="javascript:;"><span class="title">Menu Levels</span>-->
            <!--<span class="arrow"></span></a>-->
            <!--<span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>-->
            <!--<ul class="sub-menu">-->
            <!--<li>-->
            <!--<a href="javascript:;">Level 1</a>-->
            <!--<span class="icon-thumbnail">L1</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="javascript:;"><span class="title">Level 2</span>-->
            <!--<span class="arrow"></span></a>-->
            <!--<span class="icon-thumbnail">L2</span>-->
            <!--<ul class="sub-menu">-->
            <!--<li>-->
            <!--<a href="javascript:;">Sub Menu</a>-->
            <!--<span class="icon-thumbnail">Sm</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="ujavascript:;">Sub Menu</a>-->
            <!--<span class="icon-thumbnail">Sm</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->
<!-- START PAGE-CONTAINER -->
<div class="page-container ">
    <!-- START HEADER -->
    <div class="header" style="background-color: aliceblue;">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
            <!-- LEFT SIDE -->
            <div class="pull-left full-height visible-sm visible-xs">
                <!-- START ACTION BAR -->
                <div class="header-inner">
                    <a href="#"
                       class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5"
                       data-toggle="sidebar">
                        <span class="icon-set menu-hambuger"></span>
                    </a>
                </div>
                <!-- END ACTION BAR -->
            </div>
            <div class="pull-center hidden-md hidden-lg">
                <div class="header-inner">
                    <div class="brand inline">
                        <!--<img th:src="@{/assets/img/logo.png}" alt="logo"-->
                        <!--th:data-src="@{/assets/img/logo.png}"-->
                        <!--th:data-src-retina="@{/assets/img/logo_2x.png}" width="78"-->
                        <!--height="22"/>-->
                        <h3>NB - Classifier</h3>
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="pull-right full-height visible-sm visible-xs">
                <!-- START ACTION BAR -->
                <div class="header-inner">
                    <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block"
                       data-toggle="quickview" data-toggle-element="#quickview">
                        <span class="icon-set menu-hambuger-plus"></span>
                    </a>
                </div>
                <!-- END ACTION BAR -->
            </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table hidden-xs hidden-sm">
            <div class="header-inner">
                <div class="brand inline">
                    <!--<img th:src="@{/assets/img/logo.png}" alt="logo"-->
                    <!--th:data-src="@{/assets/img/logo.png}"-->
                    <!--th:data-src-retina="@{/assets/img/logo_2x.png}" width="78" height="22"/>-->
                    <h4>NB-Classifier</h4>
                </div>
                <!-- START NOTIFICATION LIST -->
                <!-- END NOTIFICATIONS LIST -->
            </div>
        </div>
        <div class=" pull-right">
            <!-- START User Info-->
            <div class="visible-lg visible-md m-t-10">
                <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                    <span class="semi-bold">Mohamad Fahrizal</span> <span class="text-master">Septrianto</span>
                </div>
            </div>
            <!-- END User Info-->
        </div>
    </div>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
            <!-- START CONTAINER FLUID -->

            <div class="container-fluid padding-25 sm-padding-10">
                <div class="content-header" th:replace="layouts/flash :: flash">
                    [ ? FLASH]
                </div>

                <div class="content-header">
                    <h2 th:replace="${view} :: header">
                        [HEADER]
                    </h2>
                </div>

                <div class="content" th:replace="${view} :: content">
                    [CONTENT]
                </div>
            </div>

        </div>
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- END PAGE CONTENT -->
    <!-- START COPYRIGHT -->
    <!-- START CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Mohamad Fahrizal Septrianto.</span>
                <span class="font-montserrat">2013730017</span>.
                <span class="hint-text">Naive Bayes Classification. </span>
                <span class="sm-block"><a target="_blank" href="http://unpar.ac.id/"
                                          class="m-l-10 m-r-10">Universitas Katolik Parahyangan</a>
                    <!--<a href="#" class="m-l-10">Privacy Policy</a>-->
                </span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
                <a target="_blank" href="http://informatika.unpar.ac.id/">Program Studi Teknik
                    Informatika</a>
                <!--<span class="hint-text">&amp; Made with Love ®</span>-->
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- END COPYRIGHT -->
</div>
<!-- END PAGE CONTENT WRAPPER -->
<!--</div>-->
<!-- END PAGE CONTAINER -->
<!--START QUICKVIEW -->
<div id="quickview" class="quickview-wrapper" data-pages="quickview">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="">
            <a href="#quickview-notes" data-toggle="tab">Notes</a>
        </li>
        <li>
            <a href="#quickview-alerts" data-toggle="tab">Alerts</a>
        </li>
        <li class="active">
            <a href="#quickview-chat" data-toggle="tab">Chat</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i
            class="pg-close"></i></a>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- BEGIN Notes !-->
        <div class="tab-pane fade  in no-padding" id="quickview-notes">
            <div class="view-port clearfix quickview-notes" id="note-views">
                <!-- BEGIN Note List !-->
                <div class="view list" id="quick-note-list">
                    <div class="toolbar clearfix">
                        <ul class="pull-right ">
                            <li>
                                <a href="#" class="delete-note-link"><i
                                        class="fa fa-trash-o"></i></a>
                            </li>
                            <li>
                                <a href="#" class="new-note-link" data-navigate="view"
                                   data-view-port="#note-views" data-view-animation="push"><i
                                        class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <button class="btn-remove-notes btn btn-xs btn-block hide"><i
                                class="fa fa-times"></i> Delete
                        </button>
                    </div>
                    <ul>
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="1">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox1" type="checkbox" value="1"/>
                                    <label for="qncheckbox1"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#" data-navigate="view" data-view-port="#note-views"
                                   data-view-animation="push"><i
                                        class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="2">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox2" type="checkbox" value="1"/>
                                    <label for="qncheckbox2"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="2">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox3" type="checkbox" value="1"/>
                                    <label for="qncheckbox3"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="3">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox4" type="checkbox" value="1"/>
                                    <label for="qncheckbox4"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="4">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox5" type="checkbox" value="1"/>
                                    <label for="qncheckbox5"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                    </ul>
                </div>
                <!-- END Note List !-->
                <div class="view note" id="quick-note">
                    <div>
                        <ul class="toolbar">
                            <li><a href="#" class="close-note-link"><i
                                    class="pg-arrow_left"></i></a>
                            </li>
                            <li><a href="#" data-action="Bold"><i class="fa fa-bold"></i></a>
                            </li>
                            <li><a href="#" data-action="Italic"><i class="fa fa-italic"></i></a>
                            </li>
                            <li><a href="#" class=""><i class="fa fa-link"></i></a>
                            </li>
                        </ul>
                        <div class="body">
                            <div>
                                <div class="top">
                                    <span>21st april 2014 2:13am</span>
                                </div>
                                <div class="content">
                                    <div class="quick-note-editor full-width full-height js-input"
                                         contenteditable="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Notes !-->
        <!-- BEGIN Alerts !-->
        <div class="tab-pane fade no-padding" id="quickview-alerts">
            <div class="view-port clearfix" id="alerts">
                <!-- BEGIN Alerts View !-->
                <div class="view bg-white">
                    <!-- BEGIN View Header !-->
                    <div class="navbar navbar-default navbar-sm">
                        <div class="navbar-inner">
                            <!-- BEGIN Header Controler !-->
                            <a href="javascript:;" class="inline action p-l-10 link text-master"
                               data-navigate="view" data-view-port="#chat"
                               data-view-animation="push-parrallax">
                                <i class="pg-more"></i>
                            </a>
                            <!-- END Header Controler !-->
                            <div class="view-heading">
                                Notications
                            </div>
                            <!-- BEGIN Header Controler !-->
                            <a href="#" class="inline action p-r-10 pull-right link text-master">
                                <i class="pg-search"></i>
                            </a>
                            <!-- END Header Controler !-->
                        </div>
                    </div>
                    <!-- END View Header !-->
                    <!-- BEGIN Alert List !-->

                    <!-- END Alert List !-->
                </div>
                <!-- EEND Alerts View !-->
            </div>
        </div>
        <!-- END Alerts !-->
    </div>
</div>
<!-- END QUICKVIEW-->
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            <img class="overlay-brand" th:src="@{/assets/img/logo.png}" alt="logo"
                 th:data-src="@{/assets/img/logo.png}"
                 th:data-src-retina="@{/assets/img/logo_2x.png}"
                 width="78"
                 height="22"/>
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="#" class="close-icon-light overlay-close text-black fs-16">
                <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Controls !-->
            <input id="overlay-search" class="no-border overlay-search bg-transparent"
                   placeholder="Search..." autocomplete="off" spellcheck="false"/>
            <br/>
            <div class="inline-block">
                <div class="checkbox right">
                    <input id="checkboxn" type="checkbox" value="1" checked="checked"/>
                    <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
                </div>
            </div>
            <div class="inline-block m-l-10">
                <p class="fs-13">Press enter to search</p>
            </div>
            <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
        <div class="container-fluid">
          <span>
                <strong>suggestions :</strong>
            </span>
            <span id="overlay-suggestions"></span>
            <br/>
            <div class="search-results m-t-40">
                <p class="bold">Pages Search Results</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>
                                    <img width="50" height="50"
                                         th:src="@{/assets/img/profiles/avatar.jpg}"
                                         th:data-src="@{/assets/img/profiles/avatar.jpg}"
                                         th:data-src-retina="@{/assets/img/profiles/avatar2x.jpg}"
                                         alt=""/>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span
                                        class="semi-bold result-name">ice cream</span> on pages</h5>
                                <p class="hint-text">via john smith</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>T</div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span
                                        class="semi-bold result-name">ice cream</span> related
                                    topics</h5>
                                <p class="hint-text">via pages</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div><i class="fa fa-headphones large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span
                                        class="semi-bold result-name">ice cream</span> music</h5>
                                <p class="hint-text">via pagesmix</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                                <div><i class="fa fa-facebook large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span
                                        class="semi-bold result-name">ice cream</span> on facebook
                                </h5>
                                <p class="hint-text">via facebook</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                                <div><i class="fa fa-twitter large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span>
                                </h5>
                                <p class="hint-text">via twitter</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                                <div><i class="fa fa-google-plus large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span>
                                </h5>
                                <p class="hint-text">via google plus</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
<script th:src="@{/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/modernizr.custom.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/boostrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery/jquery-easy.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery-unveil/jquery.unveil.min.js}"
        type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery-bez/jquery.bez.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-ios-list/jquery.ioslist.min.js}"
        type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery-actual/jquery.actual.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/plugins/bootstrap-select2/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/classie/classie.js}"></script>
<script th:src="@{/assets/plugins/switchery/js/switchery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/lib/d3.v3.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/nv.d3.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/utils.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/tooltip.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/interactiveLayer.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/models/axis.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/models/line.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/nvd3/src/models/lineWithFocusChart.js}"
        type="text/javascript"></script>
<script th:src="@{/assets/plugins/mapplic/js/hammer.js}"></script>
<script th:src="@{/assets/plugins/mapplic/js/jquery.mousewheel.js}"></script>
<script th:src="@{/assets/plugins/mapplic/js/mapplic.js}"></script>
<script th:src="@{/assets/plugins/rickshaw/rickshaw.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/jquery-sparkline/jquery.sparkline.min.js}"
        type="text/javascript"></script>
<script th:src="@{/assets/plugins/skycons/skycons.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"
        type="text/javascript"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script th:src="@{/pages/js/pagesjs.min.js}"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script th:src="@{/assets/js/dashboarda.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scripts.js}" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
<script th:replace="${view} :: custom_javascript">
    <!-- Your custom javascript -->
</script>
</body>
</html>
