<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<h2 th:fragment="header">Dashboard - Numeric</h2>
<div class="content" th:fragment="content">


  <div class="row">
    <div class="col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <h4 class="text-center">Numeric</h4>
      <table class="table table-condensed table-bordered">
        <thead>
        <tr>
          <th>Id</th>
          <th>p_n</th>
          <th>c_n</th>
          <th>c_v</th>
          <th>mean</th>
          <th>sigma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="num : ${page.page.content}">
          <td th:text="${num.id}">Id</td>
          <td th:text="${num.predictorName}">p_n</td>
          <td th:text="${num.className}">p_v</td>
          <td th:text="${num.classVal}">c_v</td>
          <td th:text="${num.mean}">mean</td>
          <td th:text="${num.sigma}">sigma</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination Bar -->
  <div class="row">
    <div class="pagination" th:replace="layouts/pagination :: paginationbar">
      <ul>
        <li><a href='#'>Prev</a></li>
        <li><a href='#'>1</a></li>
        <li><a href='#'>2</a></li>
        <li><a href='#'>3</a></li>
        <li><a href='#'>4</a></li>
        <li><a href='#'>5</a></li>
        <li><a href='#'>Next</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>