<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2 th:fragment="header">
    Test NBC Model
</h2>
<div class="content" th:fragment="content">
    <div class="container">
        <!--Singleton Query Or Upload File With Format ???-->
        <!--renew-model-local-->

        <div class="box box-solid" style="background-color: white">
            <div class="box-body text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <br/>
                            <br/>
                            <h4>Testing Files From Local</h4>
                            <!--<hr/>-->
                            <form class="form-horizontal" th:object="${trainFile}" method="post"
                                  th:action="@{/admin/testing/files}" enctype="multipart/form-data">

                                <div class="form-group">
                                    <!--th:class="${#fields.hasErrors('files')} ? 'form-group has-error' : 'form-group'"-->
                                    <div class="col-sm-5" style="text-align: center">
                                        <label style="font-size: small">Testing File:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="file" class="form-control"
                                               th:field="*{fileTesting}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--th:class="${#fields.hasErrors('files')} ? 'form-group has-error' : 'form-group'"-->
                                    <div class="col-sm-5" style="text-align: center">
                                        <label style="font-size: small">Testing-Info File:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="file" class="form-control"
                                               th:field="*{fileInfo}"/>
                                    </div>
                                </div>
                                <!--</div>-->

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3 col-sm-offset-4">
                                            <button type="submit" class="btn btn-success">Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
                            <br/>
                            <br/>
                            <h4>Testing Files From HDFS</h4>
                            <!--<hr/>-->

                            <form class="form-horizontal" th:object="${testPathHdfs}" method="post"
                                  th:action="@{/admin/testing/files-from-hdfs}"
                                  enctype="multipart/form-data">

                                <div class="form-group">
                                    <!--th:class="${#fields.hasErrors('files')} ? 'form-group has-error' : 'form-group'"-->
                                    <div class="col-sm-5" style="text-align: center">
                                        <label style="font-size: small">Testing File Path
                                            (HDFS):</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select id="ModelDirSelect" class="form-control"
                                                th:field="*{modelHdfs}">
                                            <option value="null">== Not Selected ==</option>
                                            <div th:each="dir : ${availableDirs}">
                                                <option th:value="${dir}" th:inline="text">
                                                    /bayes/[[${dir}]]
                                                </option>
                                            </div>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3 col-sm-offset-4">
                                            <button type="submit" class="btn btn-success">Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript" th:fragment="custom_javascript">
    /*<![CDATA[*/
    window.onload = function () {
        document.getElementById('singletonForm').onsubmit = function (e) {
            e.preventDefault();
            var numszz = document.getElementsByClassName('numericSingletonIn');
            console.log("NUMZ", numszz);
            for (var indeks = 0; indeks < numszz.length; indeks++) {
                var numOne = numszz.item(indeks);
                console.log("numOne", numOne);
                var placehold = numOne.getAttribute('placeholder');
                console.log("placehold", placehold);
                numOne.value = 'NUMERIC|' + placehold + '|' + numOne.value;
                console.log("numOne Updated", numOne);
                console.log("numOne Updated Value", numOne.value);
            }
            this.submit();
        };
    };
    /*]]>*/
</script>
</body>
</html>
